.nameInput{
    margin-right: 5px;
}
.commInput{
    margin-right: 5px;
}
.inputBlock{

    border: 2px solid black;
    border-radius: 4px;
    width: 400px;
    height: 200px;

}
.btn{
    background-color: darkcyan;
    border-radius: 8px;
    width: 100px;
    justify-content: center;

}
.btn:hover{
    cursor: pointer;
}

.commBlock{
    border:2px solid navy;
    width: 1200px;

}

.toAnswer{
    font-size: 10px;

}
.toAnswer:hover{
    cursor: pointer;
}
.name{
    border: 1px solid navy;
}
.comment{
    border:1px solid black ;
}

#comm{
    opacity: 0.5;
    font-size: 15px;
}